<h2>Cronut acceptance widget</h2>
<div class="challenge_box">
  <div class="language-choice-links">
    <%= link_to 'English', url_for( :locale => 'en' ) %> |
    <%= link_to 'French', url_for( :locale => 'fr' ) %>
  </div>

  <%= label_tag 'terms_checkbox' do%>
    <%= (I18n.t(:cronuts_label_html, cronuts_url: (params['cronuts_url'] || I18n.t(:cronuts_url)), donuts_url: (params['donuts_url'] || I18n.t(:donuts_url)))).html_safe %>
  <% end %>
  <%= check_box_tag 'terms_checkbox' %>

</div>